
<% if @user && @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this site_group from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class='row'>
  <div class="col">
    <%= form.label :name, "Email"%>
  </div>
  <div class="col">
    <%= form.text_field :email, id: :email %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= form.label :role, "Admin?"%>
  </div>
  <div class="col">
    <%= form.check_box :admin %>
  </div>
</div>


<div class="actions">
  <%= form.submit %>
</div>

